In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('SAT-Score.csv')
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [3]:
data.describe()

               SAT  Rand 1,2,3        GPA
count    84.000000   84.000000  84.000000
mean   1845.273810    2.059524   3.330238
std     104.530661    0.855192   0.271617
min    1634.000000    1.000000   2.400000
25%    1772.000000    1.000000   3.190000
50%    1846.000000    2.000000   3.380000
75%    1934.000000    3.000000   3.502500
max    2050.000000    3.000000   3.810000

In [4]:
x = data[['SAT','Rand 1,2,3']]
y = data['GPA']

In [5]:
reg = LinearRegression()

reg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [6]:
reg.coef_

array([ 0.00165354, -0.00826982])

In [7]:
reg.intercept_

0.29603261264909486

In [8]:
from sklearn import metrics
predictions = reg.predict(x)

print('MAE:', metrics.mean_absolute_error(y, predictions))
print('MSE:', metrics.mean_squared_error(y, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y, predictions)))
r2 = metrics.r2_score(y, predictions)
print('R2:', r2)

MAE: 0.15460790700046548
MSE: 0.04325149456531023
RMSE: 0.20796993668631586
R2: 0.40668119528142843

In [9]:
from sklearn.feature_selection import f_regression
f_values, p_values = f_regression(x,y)
reg_summary = pd.DataFrame(data = x.columns.values, columns=['Features'])
reg_summary ['Coefficients'] = reg.coef_
reg_summary ['f-values'] = f_values.round(3)
reg_summary ['p-values'] = p_values.round(3)
reg_summary

     Features  Coefficients  f-values  p-values
0         SAT      0.001654    56.048     0.000
1  Rand 1,2,3     -0.008270     0.176     0.676

In [10]:
x1 = data[['SAT']]
y1 = data['GPA']
reg1 = LinearRegression()

reg1.fit(x1,y1)
predictions1 = reg1.predict(x1)

print('MAE:', metrics.mean_absolute_error(y1, predictions1))
print('MSE:', metrics.mean_squared_error(y1, predictions1))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y1, predictions1)))
r2 = metrics.r2_score(y1, predictions1)
print('R2:', r2)

MAE: 0.15496879012561524
MSE: 0.04330086666167266
RMSE: 0.2080886029115306
R2: 0.40600391479679754