In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('kc_house_data.csv')
dataset.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [4]:
from sklearn.model_selection import train_test_split

dataset = dataset.drop('date',axis=1)
dataset = dataset.drop('id',axis=1)
dataset = dataset.drop('zipcode',axis=1)

X = dataset.drop('price',axis =1).values
y = dataset['price'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

In [5]:
print('X_train', X_train.shape)
print('y_train', y_train.shape)
print('X_test', X_test.shape)
print('y_test', y_test.shape)

X_train (14480, 17)
y_train (14480,)
X_test (7133, 17)
y_test (7133,)

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train.astype(np.float))
X_test = scaler.transform(X_test.astype(np.float))

In [7]:
from sklearn import metrics
from sklearn.model_selection import cross_val_score

def print_evaluate(true, predicted):  
    mae = metrics.mean_absolute_error(true, predicted)
    mse = metrics.mean_squared_error(true, predicted)
    rmse = np.sqrt(metrics.mean_squared_error(true, predicted))
    r2_square = metrics.r2_score(true, predicted)
    print('MAE:', mae)
    print('MSE:', mse)
    print('RMSE:', rmse)
    print('R2 Square', r2_square)

In [8]:
# Multiple Liner Regression
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

print_evaluate(y_test, y_pred)

MAE: 126461.4233793007
MSE: 40832399808.40884
RMSE: 202070.28432802492
R2 Square 0.7022743439606974

In [16]:
# Creating a Neural Network Model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Input
from tensorflow.keras.optimizers import Adam

# For a simple ANN Keras API do not require to provide the number of input features, start with hidden layer
model = Sequential()
model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))

model.compile(optimizer='Adam', loss='mse')

model.fit(x=X_train,y=y_train,
          validation_data=(X_test,y_test),
          epochs=75)

model.summary()

Epoch 1/75
453/453 [==============================] - 1s 2ms/step - loss: 419021351642.7841 - val_loss: 414290804736.0000
Epoch 2/75
453/453 [==============================] - 1s 2ms/step - loss: 396218397087.0132 - val_loss: 325365563392.0000
Epoch 3/75
453/453 [==============================] - 1s 2ms/step - loss: 302402047440.6343 - val_loss: 189072621568.0000
Epoch 4/75
453/453 [==============================] - 1s 2ms/step - loss: 169948820628.8634 - val_loss: 101438578688.0000
Epoch 5/75
453/453 [==============================] - 1s 2ms/step - loss: 100421421858.9604 - val_loss: 74253344768.0000
Epoch 6/75
453/453 [==============================] - 1s 2ms/step - loss: 78968003579.4890 - val_loss: 66536263680.0000
Epoch 7/75
453/453 [==============================] - 1s 2ms/step - loss: 67942466357.0044 - val_loss: 62483259392.0000
Epoch 8/75
453/453 [==============================] - 1s 2ms/step - loss: 65365374258.7489 - val_loss: 59444097024.0000
Epoch 9/75
453/453 [==============================] - 1s 2ms/step - loss: 61594865294.0969 - val_loss: 56795652096.0000
Epoch 10/75
453/453 [==============================] - 1s 2ms/step - loss: 58696116233.0220 - val_loss: 54338199552.0000
Epoch 11/75
453/453 [==============================] - 1s 2ms/step - loss: 58426481916.6167 - val_loss: 52015095808.0000
Epoch 12/75
453/453 [==============================] - 1s 2ms/step - loss: 52183163592.7401 - val_loss: 49758011392.0000
Epoch 13/75
453/453 [==============================] - 1s 2ms/step - loss: 50752872204.4053 - val_loss: 47626878976.0000
Epoch 14/75
453/453 [==============================] - 1s 3ms/step - loss: 49374800377.2335 - val_loss: 45637906432.0000
Epoch 15/75
453/453 [==============================] - 1s 2ms/step - loss: 45327191671.5418 - val_loss: 43844329472.0000
Epoch 16/75
453/453 [==============================] - 1s 2ms/step - loss: 43514998540.4053 - val_loss: 42178859008.0000
Epoch 17/75
453/453 [==============================] - 1s 2ms/step - loss: 43104453501.1806 - val_loss: 40634294272.0000
Epoch 18/75
453/453 [==============================] - 1s 2ms/step - loss: 43474788392.5991 - val_loss: 39366144000.0000
Epoch 19/75
453/453 [==============================] - 1s 2ms/step - loss: 44256219090.8899 - val_loss: 38330650624.0000
Epoch 20/75
453/453 [==============================] - 1s 2ms/step - loss: 36965481756.1938 - val_loss: 37492826112.0000
Epoch 21/75
453/453 [==============================] - 1s 2ms/step - loss: 40592749288.3172 - val_loss: 36805906432.0000
Epoch 22/75
453/453 [==============================] - 1s 2ms/step - loss: 36410817978.0793 - val_loss: 36249358336.0000
Epoch 23/75
453/453 [==============================] - 1s 2ms/step - loss: 37523501371.7709 - val_loss: 35833864192.0000
Epoch 24/75
453/453 [==============================] - 1s 2ms/step - loss: 37404658974.4493 - val_loss: 35481133056.0000
Epoch 25/75
453/453 [==============================] - 1s 2ms/step - loss: 35665383453.3216 - val_loss: 35188006912.0000
Epoch 26/75
453/453 [==============================] - 1s 2ms/step - loss: 37210614080.2819 - val_loss: 34958614528.0000
Epoch 27/75
453/453 [==============================] - 1s 2ms/step - loss: 37224422589.4626 - val_loss: 34737696768.0000
Epoch 28/75
453/453 [==============================] - 1s 2ms/step - loss: 36799724945.4802 - val_loss: 34543046656.0000
Epoch 29/75
453/453 [==============================] - 1s 2ms/step - loss: 36687414136.6696 - val_loss: 34384683008.0000
Epoch 30/75
453/453 [==============================] - 1s 2ms/step - loss: 34128175076.9339 - val_loss: 34301859840.0000
Epoch 31/75
453/453 [==============================] - 1s 2ms/step - loss: 35900905129.1630 - val_loss: 34089197568.0000
Epoch 32/75
453/453 [==============================] - 1s 2ms/step - loss: 38060393941.1454 - val_loss: 34007269376.0000
Epoch 33/75
453/453 [==============================] - 1s 2ms/step - loss: 34370168051.5947 - val_loss: 33857671168.0000
Epoch 34/75
453/453 [==============================] - 2s 5ms/step - loss: 34426412068.0881 - val_loss: 33741592576.0000
Epoch 35/75
453/453 [==============================] - 1s 2ms/step - loss: 35131218082.3965 - val_loss: 33634467840.0000
Epoch 36/75
453/453 [==============================] - 1s 2ms/step - loss: 34071779188.1586 - val_loss: 33538277376.0000
Epoch 37/75
453/453 [==============================] - 1s 2ms/step - loss: 32964047678.0264 - val_loss: 33460355072.0000
Epoch 38/75
453/453 [==============================] - 1s 2ms/step - loss: 33188997291.4185 - val_loss: 33348073472.0000
Epoch 39/75
453/453 [==============================] - 1s 2ms/step - loss: 33690525856.1410 - val_loss: 33266432000.0000
Epoch 40/75
453/453 [==============================] - 2s 4ms/step - loss: 35361971628.5463 - val_loss: 33186889728.0000
Epoch 41/75
453/453 [==============================] - 2s 5ms/step - loss: 34807746226.1850 - val_loss: 33118310400.0000
Epoch 42/75
453/453 [==============================] - 2s 5ms/step - loss: 32744895192.5286 - val_loss: 33055076352.0000
Epoch 43/75
453/453 [==============================] - 2s 5ms/step - loss: 34571202650.2203 - val_loss: 32981600256.0000
Epoch 44/75
453/453 [==============================] - 2s 3ms/step - loss: 31191988309.7093 - val_loss: 32944115712.0000
Epoch 45/75
453/453 [==============================] - 1s 2ms/step - loss: 36175611407.7885 - val_loss: 32885762048.0000
Epoch 46/75
453/453 [==============================] - 1s 2ms/step - loss: 33787396181.7093 - val_loss: 32832305152.0000
Epoch 47/75
453/453 [==============================] - 1s 2ms/step - loss: 36000745629.8855 - val_loss: 32777449472.0000
Epoch 48/75
453/453 [==============================] - 1s 2ms/step - loss: 31909619951.0837 - val_loss: 32744003584.0000
Epoch 49/75
453/453 [==============================] - 1s 2ms/step - loss: 36150636602.6432 - val_loss: 32680275968.0000
Epoch 50/75
453/453 [==============================] - 1s 2ms/step - loss: 31548713988.5110 - val_loss: 32631525376.0000
Epoch 51/75
453/453 [==============================] - 1s 2ms/step - loss: 35213669759.4361 - val_loss: 32597886976.0000
Epoch 52/75
453/453 [==============================] - 1s 2ms/step - loss: 33156996944.0705 - val_loss: 32571973632.0000
Epoch 53/75
453/453 [==============================] - 1s 2ms/step - loss: 32691691222.2731 - val_loss: 32502487040.0000
Epoch 54/75
453/453 [==============================] - 2s 4ms/step - loss: 31265700214.4141 - val_loss: 32499302400.0000
Epoch 55/75
453/453 [==============================] - 2s 5ms/step - loss: 32993389568.0000 - val_loss: 32430131200.0000
Epoch 56/75
453/453 [==============================] - 2s 5ms/step - loss: 33838562191.2247 - val_loss: 32391667712.0000
Epoch 57/75
453/453 [==============================] - 1s 3ms/step - loss: 35051278081.1278 - val_loss: 32355299328.0000
Epoch 58/75
453/453 [==============================] - 1s 3ms/step - loss: 31378601790.0264 - val_loss: 32325888000.0000
Epoch 59/75
453/453 [==============================] - 1s 3ms/step - loss: 34021462264.1057 - val_loss: 32284846080.0000
Epoch 60/75
453/453 [==============================] - 1s 2ms/step - loss: 32819046695.4714 - val_loss: 32264361984.0000
Epoch 61/75
453/453 [==============================] - 1s 2ms/step - loss: 33264632723.7357 - val_loss: 32217223168.0000
Epoch 62/75
453/453 [==============================] - 1s 2ms/step - loss: 30871759308.1233 - val_loss: 32295682048.0000
Epoch 63/75
453/453 [==============================] - 1s 2ms/step - loss: 33435438851.3833 - val_loss: 32159207424.0000
Epoch 64/75
453/453 [==============================] - 1s 2ms/step - loss: 30712395442.1850 - val_loss: 32123045888.0000
Epoch 65/75
453/453 [==============================] - 1s 2ms/step - loss: 35583775536.4934 - val_loss: 32083077120.0000
Epoch 66/75
453/453 [==============================] - 1s 2ms/step - loss: 32594874584.5286 - val_loss: 32074463232.0000
Epoch 67/75
453/453 [==============================] - 1s 2ms/step - loss: 32586828743.6123 - val_loss: 32018653184.0000
Epoch 68/75
453/453 [==============================] - 1s 2ms/step - loss: 30323932944.9163 - val_loss: 32020547584.0000
Epoch 69/75
453/453 [==============================] - 1s 2ms/step - loss: 32971296537.9383 - val_loss: 31967975424.0000
Epoch 70/75
453/453 [==============================] - 1s 2ms/step - loss: 35666631801.7974 - val_loss: 31924953088.0000
Epoch 71/75
453/453 [==============================] - 1s 2ms/step - loss: 34127187507.8767 - val_loss: 31896481792.0000
Epoch 72/75
453/453 [==============================] - 1s 2ms/step - loss: 32228134718.0264 - val_loss: 31880103936.0000
Epoch 73/75
453/453 [==============================] - 1s 2ms/step - loss: 31527698276.3700 - val_loss: 31839434752.0000
Epoch 74/75
453/453 [==============================] - 1s 2ms/step - loss: 33327267483.6300 - val_loss: 31815761920.0000
Epoch 75/75
453/453 [==============================] - 1s 2ms/step - loss: 31872115527.0485 - val_loss: 31790422016.0000
Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 128)               2304
_________________________________________________________________
dense_16 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 65
=================================================================
Total params: 10,625
Trainable params: 10,625
Non-trainable params: 0
_________________________________________________________________

In [17]:
y_pred = model.predict(X_test)

print_evaluate(y_test, y_pred)

MAE: 109965.91525962077
MSE: 31790425092.56221
RMSE: 178298.6962727496
R2 Square 0.7682030639672996

In [ ]:
from tensorflow.keras.layers import Dense, Activation, Input

model = Sequential()
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))

model.compile(optimizer='Adam', loss='mse')

model.fit(x=X_train,y=y_train,
          validation_data=(X_test,y_test), epochs=10)

model.summary()

In [ ]:
y_pred = model.predict(X_test)

print_evaluate(y_test, y_pred)