In [2]:
import numpy as np
import matplotlib.pyplot as plt 

import pandas as pd  
import seaborn as sns 

%matplotlib inline

In [3]:
from sklearn.datasets import load_boston
boston_dataset = load_boston()

boston = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
boston.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [4]:
X = boston_dataset["data"]
Y = boston_dataset["target"]

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [6]:
from sklearn.linear_model import LinearRegression

lm = LinearRegression()
lm.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [7]:
print('Coefficients: \n', lm.coef_)

reg_summary = pd.DataFrame(boston.columns.values, columns=['Features'])
reg_summary['Coefficients'] = lm.coef_
reg_summary

Coefficients:
 [-8.63317406e-02  5.78836339e-02  5.06085712e-02  1.94299123e+00
 -2.00816521e+01  3.24660161e+00  9.08953998e-03 -1.48083115e+00
  3.18987474e-01 -1.42841956e-02 -9.43435573e-01  9.65216696e-03
 -5.16957663e-01]

   Features  Coefficients
0      CRIM     -0.086332
1        ZN      0.057884
2     INDUS      0.050609
3      CHAS      1.942991
4       NOX    -20.081652
5        RM      3.246602
6       AGE      0.009090
7       DIS     -1.480831
8       RAD      0.318987
9       TAX     -0.014284
10  PTRATIO     -0.943436
11        B      0.009652
12    LSTAT     -0.516958

In [9]:
from sklearn.feature_selection import f_regression

f_values, p_values = f_regression(X_train, Y_train)
reg_summary ['f-values'] = f_values.round(3)
reg_summary ['p-values'] = p_values.round(3)
reg_summary

   Features  Coefficients  f-values  p-values
0      CRIM     -0.086332    86.612      0.00
1        ZN      0.057884    66.531      0.00
2     INDUS      0.050609   114.736      0.00
3      CHAS      1.942991     6.720      0.01
4       NOX    -20.081652   100.302      0.00
5        RM      3.246602   315.470      0.00
6       AGE      0.009090    68.848      0.00
7       DIS     -1.480831    32.833      0.00
8       RAD      0.318987    83.477      0.00
9       TAX     -0.014284   121.951      0.00
10  PTRATIO     -0.943436   136.850      0.00
11        B      0.009652    62.168      0.00
12    LSTAT     -0.516958   490.459      0.00